@{
    var aircraft = Model.Item1;
    var weapons = Model.Item2;
}

@if (aircraft != null)
{
    <div class="container text-center">
        <img src="~/images/@aircraft.ImageFileName" class="img-fluid" alt="Aircraft Image">
        <h3 class="display-4">@aircraft.Model</h3>
        <h3 class="display-4">Max weapon capacity: @aircraft.MaxWeaponsCapacity</h3>

        <h2 class="mt-4">Weapon Information</h2>

        @foreach (var weapon in weapons)
        {
            <div class="weapon-info" data-id="@weapon.WeaponId">
                <p>Weapon Name: @weapon.Name</p>
                <p>Weapon Type: @weapon.Type</p>
                <p>Weapon Range: @weapon.Range meters</p>
                <div class="mt-3">
                    <button class="btn btn-danger minusButton" data-id="@weapon.WeaponId">-</button>
                    <span class="weaponCount" data-id="@weapon.WeaponId">0</span>
                    <button class="btn btn-success plusButton" data-id="@weapon.WeaponId">+</button>
                </div>
                <hr />
            </div>
        }

        <button class="btn btn-primary mt-3" id="backButton">Back to Aircraft Details</button>
        <button class="btn btn-info mt-3" id="cartButton">Submit and go to the mission details</button>

    </div>

    @section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    <script>
        $(document).ready(function () {
            console.log('Document ready');
            var maxWeaponsCapacity = @aircraft.MaxWeaponsCapacity;

                $('.plusButton, .minusButton').click(function () {
                    var weaponId = $(this).data('id');
                    var currentCount = parseInt($('.weaponCount[data-id="' + weaponId + '"]').text());
                    var newCount = currentCount + ($(this).hasClass('plusButton') ? 1 : -1);

                    newCount = Math.max(0, newCount);

                    var totalWeaponsCount = getTotalWeaponsCount();

                    if (newCount >= 0 && totalWeaponsCount + (newCount - currentCount) <= maxWeaponsCapacity) {
                        $.ajax({
                            url: '/home/updateweaponcount',
                            type: 'POST',
                            contentType: 'application/json',
                            data: JSON.stringify({
                                AircraftId: @aircraft.AircraftId,
                                WeaponId: weaponId,
                                Count: newCount
                            }),
                            success: function (data) {
                                if (data.success) {
                                    console.log('Update count success');
                                    $('.weaponCount[data-id="' + weaponId + '"]').text(newCount);

                                    totalWeaponsCount += (newCount - currentCount);
                                    checkMaxWeaponsCapacity(totalWeaponsCount);
                                } else {
                                    console.log('Update count error', data.message);
                                    toastr.error(data.message);
                                }
                            },
                            error: function (error) {
                                console.log('Update count error', error);
                                toastr.error('Error occurred while updating weapon count.');
                            }
                        });
                    } else {
                        toastr.error('Invalid weapon count or the aircraft has reached the maximum number of weapons.');
                    }
                });




                $('#backButton').click(function () {
                    console.log('Back button clicked');
                    window.location.href = '/home/aircraftdetails/@aircraft.AircraftId';
                });

                function getTotalWeaponsCount() {
                    var totalWeaponsCount = 0;
                    $('.weaponCount').each(function () {
                        totalWeaponsCount += parseInt($(this).text());
                    });
                    return totalWeaponsCount;
                }

                function checkMaxWeaponsCapacity(totalWeapons) {
                    if (totalWeapons > maxWeaponsCapacity) {
                        toastr.error('The aircraft has reached the maximum number of weapons.');
                    }
                }
            });


            $('#cartButton').click(function () {
                console.log('Cart button clicked');

                var selectedAircraft = [{ AircraftId: @aircraft.AircraftId }];
                var selectedWeapons = [];  

                $.ajax({
                    url: '/mission/missiondetails',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify({
                        SelectedAircraft: selectedAircraft,
                        SelectedWeapons: selectedWeapons
                    }),
                    success: function (data) {
                        if (data.success) {
                            console.log('Add to cart success');
                            toastr.success('Aircraft added to cart successfully!');
                            window.location.href = '/missiondetails';
                        } else {
                            console.log('Add to cart error', data.message || 'An error occurred while adding aircraft to cart.');
                            toastr.error(data.message || 'An error occurred while adding aircraft to cart.');
                        }
                    },
                    error: function (error) {
                        console.log('Add to cart error', error);
                        toastr.error('Error occurred while adding aircraft to cart.');
                    }
                });
            });

        </script>
    }
}
else
{
    <p>Aircraft not found</p>
}
