@{
    ViewData["Title"] = "Home Page";
}
@model List<AircraftEntity>

<div class="container">
    <h1 class="display-4 text-center">Welcome to Aviation Shop</h1>
    <p class="text-center">Explore our collection of aviation products.</p>

    <div class="row mb-4">
        @foreach (var aircraft in Model)
        {
            <div class="col-md-3">
                <div class="card">
                    <!--  URL  -->
                    <img src="@aircraft.ImageUrl" class="card-img-top" alt="Aircraft Image">

                    <div class="card-body">
                        <h5 class="card-title">@aircraft.Model</h5>
                        <p class="card-text">Range: @aircraft.Range</p>
                        <p class="card-text">Max Height: @aircraft.MaxHeight</p>
                        <p class="card-text">Max Height: @aircraft.MaxWeaponCapacity</p>
                        
                        <a href="#" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

